
.testClass{
    background-color: rgb(91, 225, 225);
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    margin: 1rem;
    
}


.testClass1{
    background-color: rgb(215, 218, 31);
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    margin: 1rem;
    
}

.class1{
    width: 16.3rem;
    height: 10rem;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 5rem;
}